/*VARIABLES*/

:root {
	--exercise-color: #e3e49dd1;
	--food-color: #f7cacad1;
	--body-color: #b5bdf1d1;
	--pa-color: #93d495d1;
	--ma-color: #cac6ccbd;
	--home-color: #fdfdfc96;
}

html, body {
	max-width: 100%;
	overflow-x: hidden;
	text-align: center;
}

html, body, input {
font-family: 'Jua', sans-serif !important;
}
.home, .update {
	display: none;
}

.intro {
	background: url(tintro2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html { 
  background: url(tintro2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.intro  p {
	font-size: 50px;
	vertical-align: middle;
	color: white;
	line-height: 50px;
	text-align: center;
}

.title {
	vertical-align: middle;
	text-align: center;
	color: black;
	border-radius: 10px;
	margin: 0 50px;
	padding: 25px 20px;
	line-height: 40px;
		font-size: 50px;
}



/*STUFF YOU HAVE TO CHANGE */



.exercise p, .exercise div p, .exercise .info {
	background-color: var(--exercise-color);
}

.food p, .food div p, .food .info {
	background-color: var(--food-color);
}

.body p, .body div p, .body .info {
	background-color: var(--body-color)
}

.pa p, .pa div p, .pa .info {
	background-color: var(--pa-color)
}

.ma p, .ma div p, .ma .info {
	background-color: var(--ma-color)
}

.wrap {
	background-color: var(--home-color);
}

#change {
	background-color: #4b73ded1;
	color: black;
	font-weight: bold;
}


/*.food div p:hover, .food .button:hover {
	color: var(--food-color);
}

.exercise div p:hover {
	color: var(--exercise-color);
}

.body div p:hover {
	color: var(--body-color);
}

.pa div p:hover {
	color: var(--pa-color);
}

.ma div p:hover {
	color: var(--ma-color);
}

.wrap:hover {
	color: var(--home-color);
}*/




.exercise {
	/*background-color: #e3e49dd1;*/
background: url(tWeight.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.food {
	/*background-color: #f7cacad1;*/
	background: url(tFood.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.body {
	/*background-color: #b5bdf1d1;*/
		background: url(tbody.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pa {
/*	background-color: #93d495d1;*/
	background: url(tpa.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ma {
	/*background-color: #cac9c9;*/	
	background: url(tlibrary.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.home {
	/*background-color: #d9a6e2;*/
	background: url(tcamp.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}



form input[type="submit"] {
	background-color: #000000c9;
	color: white;
    border: none;
    padding: 4px 6px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
/*    margin-right: 78px;*/
}

form input[type="text"] {
	/*margin-right: -4px !important;*/
	width: 198px;
}

form input[type="submit"]:hover {
	background-color: #ffffffbd;
/*	color: #01abce;*/
	color: black;
	cursor: pointer;
}


.form {
	text-align: right;
}

#social {
	text-align: center;	
}

.btn-block {
	padding-left: 21px !important;
	width: 189px !important;
}

.row {
	margin-top: 75px;
}

.newpage {
	padding: 140px 0px;
}


.col-md-12 p {
	font-size: 20px;
	padding: 5px;
	border-radius: 4px;
	margin: 0 auto;
}





.newpage div p:hover, .wrap:hover, .button:hover {
	background-color: #ffffffbd;
	cursor: pointer;
}

.wrap {
	padding: 20px 10px;
	font-size: 25px;
	border-radius: 10px;
	width: 50%;
	margin: 10px auto;
	text-align: center;
	line-height: 25px;
}


.info {
	padding: 7px 10px;
	font-size: 25px;
	border-radius: 10px;
	margin: 10px 20px;
	text-align: center;
	line-height: 25px;
}

.update input[type="text"] {
	margin-top: 7px;
}

/*@MEDIA QUERIES */

@media (max-width: 575px) {

	.form {
		text-align: center;
	}

	.btn {
		margin: 0 auto;
	}

	form input[type = "submit"] {
		margin-right: auto;
	}

	.intro p, .title {
		font-size: 35px;
	}

}
